<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'infectionWarning.pageTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="icon-text warn ion-padding ion-text-center">
    <ion-icon name="warning"></ion-icon>
    <h1>{{ 'infectionWarning.title' | translate }}</h1>
  </div>
  <div class="content">
    <p>
      <b>{{ 'infectionWarning.description' | translate }}</b>
    </p>
    <ul>
      <li>
        {{ 'infectionWarning.nextSteps.maybeNotInfected' | translate}}
      </li>
      <li>
        {{ 'infectionWarning.nextSteps.goToDoctor' | translate}}
      </li>
      <li>
        {{ 'infectionWarning.nextSteps.informAboutOhioh' | translate}}
      </li>
    </ul>
    <!-- TODO: Verlinkung auf Doctorseiten zu Terminfindung, die z. B. auch im Rahmen des Hackathons erstellt wurden -->
    <!-- <p style="font-style: italic;">
      {{ 'infectionWarning.nextSteps.linksToDoctors' | translate}}
    </p> -->
    <ion-button fill="clear" class="ion-float-right" color="primary" (click)="onNextClick()">{{ 'infectionWarning.continue' | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    <ion-button fill="clear" class="ion-float-right" color="warning" (click)="onNextClick()">{{ 'infectionWarning.accept' | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </div>

</ion-content>