<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'credits.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h3>{{ 'credits.motivation.title' | translate }}</h3>
  <p>{{ 'credits.motivation.description' | translate }}</p>

  <h3>{{ 'credits.team.title' | translate }}</h3>
  <p>{{ 'credits.team.description' | translate }}</p>
  <ul>
    <h5>{{ 'credits.team.coordination' | translate }}</h5>
    <li>Tjark Ziehm</li>
    <li>Peter</li>
    <li>Oska</li>
    <li>Shawar</li>
    <li>Gina</li>
    <li>Ameen</li>
    <li>Tommy</li>
    <li>Tim Hemig</li>
    <li>Sconti</li>
    <li>Noman</li>
    <li>Saad</li>
    <li>Mohsin</li>

    <h5>{{ 'credits.team.frontendDevelopment' | translate }}</h5>
    <li>Janna Wieneke</li>
    <li>Mario Geier</li>

    <h5>{{ 'credits.team.university' | translate }}</h5>
    <li>Christian</li>
    <li>Daniel</li>

  </ul>
  <h5>{{ 'credits.team.thankYou' | translate }}</h5>

  <h3>{{ 'credits.attribution.title' | translate }}</h3>
  <div>Icons made by <a href='https://www.flaticon.com/authors/roundicons' title='Roundicons'>Roundicons</a> from <a href='https://www.flaticon.com/' title='Flaticon'>www.flaticon.com</a></div>

  <h3>{{ 'credits.copyright.title' | translate }}</h3>
  <address>
    Tjark Ziehm<br>
    Ludewig-Meyn Strasse 15,<br>
    Kai-Uwe von Hassel Residence<br>
    24118 Kiel<br>
    {{ 'credits.copyright.phone' | translate }}: 0152 241 22 031<br>
    Mail: <a href="mailto:kontakt@ohioh.de">kontakt@ohioh.de</a>
  </address>
  <small>

    <p>
      Haftung für Inhalte
      Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
      allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
      verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
      forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
      Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
      Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
      Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
      Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
      Haftung für Links
      Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
      Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
      verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
      Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
      waren zum Zeitpunkt der Verlinkung nicht erkennbar.
      Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
      Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
      umgehend entfernen.
    </p>

    <h5>Urheberrecht</h5>
    <p>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
      Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
      Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
      Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
      Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
      beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
      Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
      Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
    </p>

    Das OHIOH-Team bedankt sich bei e-recht24 für die kostenlose Unterstützung.
    <p>
      Quelle:
      <a>https://www.e-recht24.de/impressum-generator.html</a>
    </p>
  </small>
  <small>
    <ion-item>
      <ion-label>Entwicklermodus</ion-label>
      <ion-toggle [(ngModel)]="userService.DeveloperMode"></ion-toggle>
    </ion-item>
  </small>
</ion-content>