ion-slide {
  height    : 95vh;
  overflow-y: auto;
}

app-logo.big svg {
  width : 50% !important;
  height: 50% !important;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height    : 18%;
  max-width     : 25%;
  margin        : 20px 0 10px;
  pointer-events: none;
}

.swiper-slide img.size-big {
  max-height: 50%;
  max-width : 80%;
  margin    : 40px 0 30px;
}

b {
  font-weight: 500;
}

p {
  padding    : 0 40px;
  font-size  : 14px;
  line-height: 1.5;
  color      : var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

ion-fab-button {
  position: absolute;
  bottom  : 23px;
  right   : 16px;
}