<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'home.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content">

    <ion-list>

      <ion-item [class.warning]="userService.isInfected()">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>
          <h2>
            {{ (userService.isInfected() ? 'home.stateOverview.infection.warning.title' : 'home.stateOverview.infection.noWarning.title') | translate }}
          </h2>
          <p>
            {{ (userService.isInfected() ? 'home.stateOverview.infection.warning.description' : 'home.stateOverview.infection.noWarning.description') | translate }}
          </p>
          <ion-button fill="clear" *ngIf="userService.isInfected()" (click)="userService.openInfectionWarning()">
            {{ 'home.stateOverview.infection.warning.showWarning' | translate }}
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="cloud-done" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ 'home.stateOverview.sync.inSync.title' | translate }}</h2>
          <p>{{ 'home.stateOverview.sync.inSync.lastUpload' | translate | replace: '{val}': 'gerade' }}</p>
          <p>{{ 'home.stateOverview.sync.inSync.connected' | translate }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="locate" slot="start"></ion-icon>
        <ion-label>
          <h2>{{ 'home.stateOverview.gps.active.title' | translate }}</h2>
          <p>{{ 'home.stateOverview.gps.active.lastUpdate' | translate }}</p>
        </ion-label>
      </ion-item>

      <ion-item [class.warning]="!userDataAvailable">
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label>
          <h2>
            {{ (userDataAvailable ? 'home.stateOverview.personalData.active.title' : 'home.stateOverview.personalData.inactive.title') | translate }}
          </h2>
          <p>
            {{ (userDataAvailable ? 'home.stateOverview.personalData.active.description' : 'home.stateOverview.personalData.inactive.description') | translate }}
          </p>
          <ion-button fill="clear" *ngIf="!userDataAvailable" (click)="navigateToUserData()">
            {{ 'home.stateOverview.personalData.addData' | translate }}
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>

      <div class="ion-text-center">
        <ion-button *ngIf="userService.DeveloperMode" (click)="userService.setInfectionStatus(true)" color="warning">
          <ion-icon name="warning" class="ion-padding"></ion-icon>
          Simuliere Infektionswarnung
        </ion-button>
        <ion-button *ngIf="userService.DeveloperMode" (click)="userService.setInfectionStatus(false)" color="primary">
          <ion-icon name="remove" class="ion-padding"></ion-icon>
          Entferne Infektionswarnung
        </ion-button>
      </div>

    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-button (click)="openQRScan()">
    <ion-icon name="qr-code" class="ion-padding"></ion-icon>
    {{ 'home.qrCodeScanner' | translate }}
  </ion-button>
</ion-footer>